<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mercado Liebre</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
</head>
<body>
    <header class="gris">
        <img src="/img/logo-mercado-liebre.svg" width="500 px">
    <br>
    <input id="search-bar" type="search" placeholder="Busca productos, marcas...">
    <button type="submit"><i class="fas fa-search"></i></button>
    <br></br>
    <div>
    <span class="titulares"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</span>
    <ul style="list-style-type: none" style="text-decoration: none;">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
        <br>
        <li><a href="#"><i class="far fa-id-card"></i>  Crea tu cuenta</a></li>
        <li><a href="#"><i class="fas fa-sign-in-alt"></i>  Ingresá</a></li>
        <li><a href="#"><i class="fas fa-shopping-basket"></i>  Mis Compras</a></li>
    </ul>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
  </div>
    </div>
    </header>
    <main class="gris" style="background-color: gray";>
        <strong class="titulares">Basado en tu última visita</strong>
        <div>
            <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera moulinex" width="300 px">
        </div>
            <div class="precios">$6770</div>
            <div class="descripciones">40% OFF</div>
            <strong class="descripciones">Cafetera Moulinex</strong>
        </div>
    </main>
    <footer class="footer" class="gris">
<ul style="list-style-type: none">
    <li>
        <div class="footer-icon"><i class="fas fa-credit-card"></i></div>
        <strong class="titulares">Pagá con tarjeta o efectivo</strong>
        <div class="descripciones">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</div>
    </li>
    <br>
    <li>
        <div class="footer-icon"><i class="fas fa-gift"></i></div>
        <strong class="titulares">Envío gratis desde $ 2.500</strong>
        <div class="descripciones">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</div>
    </li>
    <br>
    <li>
        <div class="footer-icon"><i class="fas fa-user-shield"></i></div>
        <strong class="titulares">Seguridad, de principio a fin</strong>
        <div class="descripciones">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</div>
    </li>
    <br>
    <li><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>
    </li>
</ul>
    </footer>
</body>
</html>